html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

nav { 
    display: flex;
    flex-direction: row; /* Eigenlijk onnodig want bij elke div waarbij je de display op flex zet staat flex-direction al op row */
    width: 100%;
    height: 100%;
    background-color: green;
    justify-content: space-evenly;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;    
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

img {
    width: 250px;
    height: 60%;
}

p {
    width: 200px;
    height: 150px;
}

.menu-button, #foto{
    width: 100px;
    height: 50px;
    background-color: white;
    margin: 30px;
}

footer {
    width: 100%;
    height: 150px;
    background-color: rgb(182, 53, 182);
    display: flex;
}

a {
    color: white;
    text-decoration: none;
}

button {
    width: 150px;
    height: 50px;
}

#boxes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: orange;
}

#box {
    margin-top: 40px;
}

#left {
    display: flex;
    background-color: blue;
    height: 100%;
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
